/********************************************************************************
 * COMPASS COMPILED
 ********************************************************************************/
/* line 2, ../sass/_viewport.scss */
.x-list-item {
  background-color: #b7b7b7;
  border-top: 2px solid #e8e8e8;
}
/* line 7, ../sass/_viewport.scss */
.x-list-item .x-innerhtml {
  padding: 22px 15px !important;
}

/* line 14, ../sass/_viewport.scss */
.ml40 {
  margin-left: 40px;
}

/* line 1, ../sass/_list.scss */
.listItem {
  background-color: #b7b7b7;
}
